# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment directories
.venv/
venv/
env/

# Application-specific temporary files
temp_inventory.xls

# IDE/Editor directories
.vscode/
.idea/

